td {

    text-align: center;

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
table {
    text-align: center;
    line-height: 200%;
    width: 300px;
    height: 200px;
    border: 1px solid black;
    border-collapse: collapse;
}

h3{
    color: #FC7629;
}

p {
    color: #2A3655;
}
.sup_element {
    color: red;
}
footer p {
    color: red;
}
mark {
    border-radius: 5px;
}
div#main-content {
    background-color: #cacaca;
    padding: 20px;
    display: flex;
}
a:hover {
    color: #ff66ce;
}
table tr:first-child {
    color: blue;
}

#articles {
    flex-grow: 1;

}
#skills {
    flex-grow: 1;
}
header {
    display: flex;
    justify-content: space-between;
}